@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');

body{
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Stick No Bills', sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: auto;
}

.container .card{
    background-color: #e6e1e1;
    opacity: 1.0;
    width: 430px;
    height: 530px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card label {
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

/* Selects */

:root {
    
    /* --gray: #34495e;
    --darkgray: #2c3e50; */
    --gray: #e0d8d8 ;
    --darkgray: #e0d8d8 ;
    margin-top: 20px;
}


select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    border-radius: 8px;
    flex: 1;
    padding: 0 1em;
    color: rgb(0, 0, 0);
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}

/* Custom Select wrapper */
.select {
    margin-top: 18px;
    margin-left: 85px;
    margin-right: 2px;
    position: relative;
    display: flex;
    width: 275px;
    height: 27px;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 8px;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: -14px;
    right: 0;
    padding: 1em;
    background-color: #e0d8d8 ;
    transition: .25s all ease;
    pointer-events: none;
}
/* Transition */
.select:hover {
    box-shadow: 0 0 10px 0 #e0d8d8 inset, 0 0 10px 2px  #000000;
}

.input {
    width: 260px;
    height: 25px;
    font-family: 'Stick No Bills', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #000000;
    /* padding: 1px; */
    font-size: 14px;
    margin-top: 10px;
    margin-left: 8px;
    background-color: transparent;
    border: 3px solid #d3caca;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    
    transition: all .35s ease-in-out;
}
.button{
  
    font-family: 'Stick No Bills', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #000000;
    /* padding: 1px; */
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 8px;
    background-color: transparent;
    border: 3px solid #e0d8d8;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    width: 160px;
    transition: all .35s ease-in-out;
 
}

.button:hover {
    box-shadow: 0 0 10px 0 #e0d8d8 inset, 0 0 10px 2px  #000000;
}

    
