@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');

body{
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: sans-serif;
    font-family: 'Stick No Bills', sans-serif;
}
.container{
    width: 100%;
    max-width: 100%;
    height: 430px;
    margin-left: 400px;
    justify-content: center;
}

.container .card{
    background-color: #e6e1e1;
    opacity: 0.9;
    width: 430px;
    height: 530px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    margin-top: 65px;
    text-align: center;
    transition: all 0.25s;
    overflow-y: scroll;
}

.container .card p{
    margin-top: -2px;
    font-size: 12px;
}

/* Selects */

:root {
    --gray: #e0d8d8 ;
    --darkgray: #e0d8d8 ;
    margin-top: 20px;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    border-radius: 8px;
    flex: 1;
    padding: 0 1em;
    color: rgb(0, 0, 0);
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}

/* Custom Select wrapper */
.select {
    margin-top: 8px;
    margin-left: 85px;
    margin-right: 2px;
    position: relative;
    display: flex;
    width: 262px;
    height: 27px;
    border-radius: 7px;
    overflow: hidden;
    border-radius: 8px;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: -14px;
    right: 0;
    padding: 1em;
    background-color: #e0d8d8 ;
    transition: .25s all ease;
    pointer-events: none;
}
/* Transition */
.select:hover {
    box-shadow: 0 0 10px 0 #e0d8d8 inset, 0 0 10px 2px  #000000;
}

.input {
    width: 250px;
    height: 25px;
    font-family: 'Stick No Bills', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #000000;
    /* padding: 1px; */
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    background-color: transparent;
    border: 3px solid #d3caca;
    border-radius: 8px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .35s ease-in-out;
}
.button{
    font-family: 'Stick No Bills', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #f7f7f7;
    /* padding: 1px; */
    border-radius: 25px;
    font-size: 12px;
    margin-top: 4px;
    background-color: transparent;
    border: 3px solid #e0d8d8;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    width: 180px;
    transition: all .35s ease-in-out;
}
.button2{
    font-family: 'Stick No Bills', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #707070;
    /* padding: 1px; */
    border-radius: 25px;
    font-size: 15px;
    margin-top: 16px;
    background-color: transparent;
    border: 3px solid #c0bebe;
    border-radius: 12px;
    -webkit-transition: all .15s ease-in-out;
    width: 210px;
    transition: all .35s ease-in-out;
}


.button:hover {
    box-shadow: 0 0 10px 0 #e0d8d8 inset, 0 0 10px 2px  #000000;
}
.button2:hover {
    box-shadow: 0 0 10px 0 #e0d8d8 inset, 0 0 10px 2px  #000000;
}

button:disabled,
button[disabled]{
    opacity: 0.4;
    color: #000000;
}

.nav {
    margin-top: -10px;
    border-radius: 7px;
    height: 30px;
    width: 100%;
    margin-left: 0px;
    background-color: #f1f1f15e;
    text-align: center;
}

.navClock {
    margin-top: -620px;
    border-radius: 7px;
    height: 25px;
    width: 432px;
    margin-left: 20px;
    background-color: #f1f1f15e;
}

.reloj { 
    margin-left: -160px;
}

.delete{
    display: flex;
    margin: 25px;
}
.deleteX{
   margin-right: 5px;
}
