@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');
.body{
    font-family: 'Stick No Bills', sans-serif;
    /* background: url('../Landing/maplanding1.jpeg'); */
    background-color: #000000;
    position: absolute;
    width: 100%;
    overflow: hidden;
    
  
}

.cards{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    margin-left: 45px;
    
}

.link{
    text-decoration: none;
}