.container {
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    flex-direction: row; 
}
.img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    
}
.card {
    margin: 3%;
    width: 200px;
    height: 300px;
    padding: 0.5rem 1rem;
    background-color: #8d8b8b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    opacity: 0.5;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 3px 4px 7px 4px rgba(255, 255, 255, 0.815);
}

.h2{
    color: white;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: 0.2s;
    cursor: pointer;
}
.card .title_legendary {
    background-color: #f4d03f;
}
.card .title_legendary:hover {
    box-shadow: 0 0 12px rgba(244, 208, 63, .8);
}
.card .title_epic {
    background-color: #8c14fc;
}
.card .title_epic :hover {
    box-shadow: 0 0 12px rgba(132, 0, 255, 0.8);
}
.card .title__common {
    background-color: #2ecc71;
}
.card .title__common:hover {
box-shadow: 0 0 12px rgba(46, 204, 113, .8);
}
.card .desc {
text-align: center;
}
.card .actions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card .actions button {
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    outline: 0;
    transition: background-color 0.4s, color 0.4s, transform 0.1s;
}
.card .actions button:hover {
color: white;
box-shadow: 0 0 24px rgba(0, 0, 0, .2);
}
.card .actions button:active {
transform: scale(0.95);
box-shadow: 0 0 16px rgba(0, 0, 0, .3);
}
.card .actions__like:hover {
background-color: #00b16a;
}
.card .actions__trade:hover {
background-color: #3498db;
}
.card .actions__cancel:hover {
background-color: #c0392b;
}
p {
margin-top: 1rem;
color: #484848;
}
a:link, a:visited {
text-decoration: none;
color: #2574a9;
}
.active {
background-color: #00b16a;
}
button::-moz-focus-inner {
border: 0;
}
