@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,800&display=swap');

.container{
    /* background-color: red; */
    justify-content: center; 
    margin-left: 55px; 
    width: 100px;
}

.card{
    /* background: linear-gradient(to bottom, #757575, #8d8b8b); */
    background-color: #e6e1e1;
    opacity: 1.0;
    width: 280px;
    height: 300px;
    border-radius: 8px;
    overflow:hidden;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}
.img {
    max-width: 270px;
    max-height: 155px;
    border-radius: 8px;
    margin-top: 4px;
    box-shadow: 4px 4px 11px 2px black;
}

.card:hover {
    opacity: 1.6;
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 3px 4px 11px 4px rgba(255, 255, 255, 0.39);
}

.h2{
    font-family: 'Stick No Bills', sans-serif;
    text-decoration: none;
    margin-top: 2px;
    color: rgb(0, 0, 0);
    
}

.h3{
    font-family: 'Stick No Bills', sans-serif;
    text-decoration: none;
    margin-top: 1px;
    color: rgb(0, 0, 0);
}
