@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    font-family: 'Stick No Bills', sans-serif;
    border-radius: 25px;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}

/* Custom Select wrapper */
.select {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 2px;
    position: relative;
    display: flex;
    width: 225px;
    height: 27px;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: -14px;
    right: 0;
    padding: 1em;
    background-color: #e0d8d8 ;
    transition: .25s all ease;
    pointer-events: none;
}
/* Transition */
.select:hover {
    box-shadow: 0 0 10px 0 #e0d8d8 inset, 0 0 10px 2px  #e0d8d8;
}

    
