.nav {
    height: 50px;
    width: 100%;
    margin-top: 12px;
    background-color: #f1f1f15e;
    opacity: 0.7;
    position: relative;
}


.nav > .nav_btn {
    display: none;
}

.nav > .nav_links {
    margin-block-start: 1%;
    /* display: inline; */
    float: left;
    font-size: 20px;
    text-decoration: none;
}

.nav > .nav_links > a {
   
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav_links > a:hover {
    background-color: rgba(0, 0, 0, 0.692);
    opacity: 0.4;;
}

@media (max-width:600px) {
.nav > .nav_btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nav > .nav_btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
}
.nav > .nav_btn > label:hover,.nav  #nav_check:checked ~ .nav_btn > label {
    background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav_btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
}
.nav > .nav_links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
}
.nav > .nav_links > a {
    display: block;
    width: 100%;
}
.nav > #nav_check:not(:checked) ~ .nav_links {
    height: 0px;
}
.nav > #nav_check:checked ~ .nav_links {
    height: calc(100vh - 50px);
    overflow-y: auto;
}
}