.input {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 2px;
    /* position: relative;
    display: flex; */
    /* display: grid; */
    width: 125px;
    height: 20px;
    border-radius: .25em;
    border-radius: 10px;
}

.button{
  
    font-family: 'Stick No Bills', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #e0d8d8;
    padding: 1px;
    border-radius: 25px;
    font-size: 22px;
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid #e0d8d8;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    width: 190px;
    transition: all .35s ease-in-out;
 
}

.button:hover {
    box-shadow: 0 0 10px 0 #e0d8d8 inset, 0 0 20px 2px #e0d8d8;
    border: 3px solid #e0d8d8;
}



